# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# Django stuff
*.log
staticfiles/
media/
.db.sqlite3-journal

# SQLite database
db.sqlite3

# OS files
.DS_Store

# IDEs
.vscode/
.idea/
